<!-- <div class="projectBox" [@scrollAnimation]="state">
  <div class="row">

    <div class="col-sm-6">
      <img src="../../assets/images/me.png" class="animationBike">
    </div>
  </div>

</div> -->



<div class="projects">
  <div id="projectDiv">Projects
  </div>
  <br>
  <div class="container">
    <div class="row">

      <div class="projectBox" [@scrollAnimation]="state">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <img class="portPics" src="assets/images/waldo.jpg" alt="waldo">
          <div class="picsBanner"> <a href="https://which-waldo.herokuapp.com" target="_blank">
              <h4>Which Waldo?</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="projectBox" [@scrollAnimation]="state">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <img class="portPics" src="assets/images/ANS.jpg" alt="news-scraper">
          <div class="picsBanner"> <a href="https://quiet-forest-71984.herokuapp.com" target="_blank">
              <h4>News Scraper</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="projectBox" [@scrollAnimation]="state">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <img class="portPics" src="assets/images/bamazon.jpg" alt="amazon">
          <div class="picsBanner"> <a href="https://github.com/zapmi/bamazon" target="_blank">
              <h4>Bamazon</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="projectBox" [@scrollAnimation]="state">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <img class="portPics" src="assets/images/giftastic.jpg" alt="gif">
          <div class="picsBanner"> <a href="https://zapmi.github.io/giftastic/" target="_blank">
              <h4>Giftastic</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="projectBox" [@scrollAnimation]="state">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <img class="portPics" src="assets/images/train.jpg" alt="train">
          <div class="picsBanner"> <a href="https://zapmi.github.io/Train-Scheduler/" target="_blank">
              <h4>Train Scheduler</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="projectBox" [@scrollAnimation]="state">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <img class="portPics" src="assets/images/movie.jpg" alt="movie">
          <div class="picsBanner"> <a href="https://trilogy-jmn.github.io/group-project-1/" target="_blank">
              <h4>Movie Box</h4>
            </a>
          </div>
        </div>


        <div class="bottomSpace"></div>
      </div>




    </div>
  </div>



</div>