.projects {
    background-image: url('../../assets/images/patricksPoint.jpg');
    background-size: cover;
    width: 100%;
    height: fit-content;
    text-align: center;
    line-height: 30px;
}

#projectDiv {
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: thin;
    margin-bottom: 50px;
    padding-top: 100px;
    opacity: 65%;
}

h4 {
    padding-bottom: 35px;
    /* text-align: center; */
    
}

.portPics {
    border: 10px ridge white;
    opacity: 73%;
    height: 215px;
    width: 315px;

}

.bottomSpace {
    margin-bottom: 150px;
}
