/* .animationBike {
    width: 1072px;
    height: 715px;
    padding: 20px 0px 20px 60px;
} */

.projects {
    /* background-color: red; */
    background-image: url('../../assets/images/patricksPoint.jpg');
    background-size: cover;
    width: 100%;
    height: fit-content;
    text-align: center;
    line-height: 30px;
}

#projectDiv {
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: thin;
    margin-bottom: 20px;
    padding-top: 100px;
    opacity: 65%;
}

.btn-floating {
    /* background-color: black; */
}

.col-md-4 {
    /* padding: 0 15px; */
}

.col-sm-12, .col-md-4  {
    /* float: left; */
    /* align-content: center;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 200px;
    width: 250px;
    margin-bottom: 20px;
    opacity: 1; */
    /* padding-left: 40px; */
}

.picsBannera {
    position: relative;
    background-color: rgba(84, 74, 230, 0.39);
    text-align: center;
    bottom: 1em;
    padding: .3em .6em; 
    /* padding: 0px 20px 0px 20px; */
    /* margin: 10px; */
    margin-bottom: 20px;
    /* margin-left: 81px; */
    /* margin-left: 0px; */
    width: 245px;
    resize: vertical;
}  

.picsBanner {
    padding-bottom: 25px;
}

.middle {
    /* transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; */
}

/* .portPics:hover .image {
    opacity: 0.3;
  }
  
  .portPics:hover .middle {
    opacity: 1;
  } */




.portPics {
    width: 315px;
    height: 215px;
    /* padding: 0 15px; */

}

.bottomSpace {
    /* margin-bottom: 130px; */
}
