.projects {
    background-size: cover;
    width: 100%;
    height: fit-content;
    text-align: center;
    line-height: 30px;
}

#projectDiv {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 65px;
    font-weight: thin;
    margin-bottom: 80px;
    padding-top: 175px;
    opacity: 90%;
}

a {
    color: lightsalmon;
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

.portPics {
    border: 10px ridge white;
    opacity: 87%;
    height: 215px;
    width: 315px;

}

.bottomSpace {
    margin-bottom: 100px;
}

div.row {
    padding: 0;
    margin: 0;
}


.picsBanner {
    color: white;
    font-size: 22px;
    font-weight: bolder;
    padding-bottom: 35px;
    margin: 0;
    width: 315px;
}