a {
    color: white;
}

.navbar-toggler {
    color: white;
    
    font-size: 28px;
    margin-top: 10px;
    margin-right: -27px;
    
}

.bikePic {
    width: 1072px;
    height: 715px;
    padding: 20px 0px 20px 60px;
}