a {
    color: white;
}

.navbar-toggler {
    color: white;
    
    font-size: 28px;
    top: 0;
    right: 0;
    /* margin-top: 10px; */
    /* margin-right: -27px; */
    
}

.bikePic {
    width: 1072px;
    height: 715px;
    padding: 20px 0px 20px 60px;
}