.fa {
    color: ghostwhite;
    font-size: 1.2em;
    opacity: 60%;
    padding: 7px 4px 0 4px;
    
}

.corner-content {
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
}

.top-links {
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    /* height: 25px; */
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    
}

.navbar {
    z-index: 4;
    position: fixed;
}

.navbar-toggler {
    border: none;
    /* top: 0!important;
    right: 0!important; */
    outline: none;
    box-shadow: none;
}

