<div class="pageContent">
    <a routerLink="['/']" class="navbar-brand">
        MZ
    </a>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="top-links">
            <a href="https://www.linkedin.com/in/mike-zapata-7a5650107/" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://github.com/zapmi" target="_blank" class="fa fa-github"></a>
        </div>
        <!-- <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link">Home</a>
                </li>

                <li class="nav-item">
                    <a [routerLink]="['/about']" class="nav-link">About Me</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/projects">Projects</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div> -->
    </nav>

    <div class="canvas">
        <div class="intro">Mike Zapata</div>
        <img src="../../assets/images/me.png" class="picOfMe">
        <br>
        <div class="intro2">
            Full Stack Developer
            <br>
            Chicago, IL
            <!-- <br>
            <div class="aboutButton"><a routerLink="/projects" class="showWorkButton">View my
                    work</a>
            </div> -->
        </div>

        <footer>MZ</footer>

    </div>
    

    <!-- <app-about></app-about>
    <app-projects></app-projects>
    <app-contact></app-contact>  -->
    <!-- <router-outlet></router-outlet> -->

    <app-about></app-about>

    <div class="canvas2">
        <app-projects></app-projects>
    </div>

    <app-contact></app-contact>
    <div class="canvas3">
        MZ   
    </div>

</div>