@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        color: ghostwhite;
        opacity: 85%!important;
        padding-right: .5rem;
        padding-left: .5rem;
        margin-top: 20px;
    }
    .navbar {
        font-size: 20px;
    }
}

@media (max-width: 475px) {
    .picOfMe {
        width: 45%;
        height: auto;
        
    }

}

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }


  

.fa {
    padding: 5px 4px 0 4px;
}

.top-links {
    opacity: 90%;
    color: ghostwhite;
    font-size: 1.2em;
    position: fixed;
    top: 0;
    right: 0;
}

a {
    color: ghostwhite;
    text-decoration: none;
}

.navbar-brand {
    opacity: 60%;
    padding: 1px 0px 0px 4px;
    position: fixed;
}

.navbar {
    padding: 0px;
}

.navbar-toggler {
    border: none;
    box-shadow: none;
    margin: 18px 0 0 0;
    outline: none;
    padding: 6px 2px 2px 2px;
}

.nav-link {
    color: ghostwhite;
    font-size: 18px;
    opacity: 95%!important;
    padding-left: 14px;
}

.canvas {
    background-image: url('/../assets/images/patricksPoint.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 30px;
    opacity: 85%;
    height: 100%;
    /* width: 100%; */
}

.canvas2 {
    background-image: url('/../assets/images/pacificOcean2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 30px;
    opacity: 80%;
    height: 100%;

}

.canvas3 {
    background-image: url('/../assets/images/pacificOcean2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 30px;
    opacity: 80%;
    height: 100%;
    padding-bottom: 180px;
}

.intro {
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: thin;
    padding-top: 175px;
    opacity: 65%;
}

.intro2 {
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: thin;
    
    opacity: 65%;
}

.btn-floating {
    background-color: black;
}

.aboutButton {
    background-color: #7288a0;
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    padding: 8px 30px;
}

.showWorkButton {
    color: #f7d4aa;
    font-weight: bold;
    text-decoration: none;
}

.showWorkButton:hover {
    color: hotpink;
}

.picOfMe {
    border: 5px solid white;
    border-radius: 100%;
    opacity: 95%;
    margin: 7px;
}

footer {
    margin-top: 225px;
    margin-bottom: 15px;
    position: relative;
}