.fa {
    color: ghostwhite;
    font-size: 1.2em;
    opacity: 60%;
    padding: 5px 4px 0 4px;
    
}

.corner-content {
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
}

.top-links, .navbar {
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    /* height: 25px; */
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    
}

 .navbar-brand {
    opacity: 60%;
    z-index: 4;
    padding: 1px 0px 0px 4px;
    position: fixed;

}
.navbar {
    padding: 0px;
}

.navbar-toggler {
    border: none;
    box-shadow: none;
    margin: 18px 0;
    outline: none;
    padding-right: 2px;
 
}

