<!-- <div class="projectBox" [@scrollAnimation]="state">
  <div class="row">

    <div class="col-sm-6">
      <img src="../../assets/images/bike.jpg" class="animationBike">
    </div>
  </div>

</div> -->



<div class="contact">
  <div id="contactDiv">Contact Me</div>
  <div class="contactInfo">
    <div class="fa fa-envelope-o"></div><a href="mailto:mzap0902@gmail.com" target="_blank"> &nbsp;&nbsp;&nbsp;mzapØ9Ø2@gmail.com</a>
    <br>
    <div class="fa fa-mobile"></div><a> &nbsp;&nbsp;&nbsp;7Ø8.369.3563</a>
    <br>
    <div class="fa fa-linkedin"></div><a href="https://www.linkedin.com/in/mike-zapata-7a5650107/" target="_blank">
        &nbsp;&nbsp;&nbsp;Linkedin</a>
    <br>
    <div class="fa fa-github"></div><a href="https://github.com/zapmi" target="_blank"> &nbsp;&nbsp;&nbsp;GitHub</a>
  </div>




</div>