@media (max-width: 992px) {
    .catStretch {
        width: 45%;
        height: auto;
    }
}

@media (min-width: 993px) {
    .catStretch {
        width: 35%;
        height: auto;
        padding: 10px;
    }
}

/* .catStretch {
    width: 450px;
    height: 400px;
} */


.about {
    
    background-size: cover;
    width: 100%;
    /* height: 822px; */
    height: fit-content;
    text-align: center;
    line-height: 30px;
}

#aboutDiv {
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: thin;
    padding: 200px 3px 10px 3px;
    opacity: 65%;
}

.container {
    padding-bottom: 260px;
}

p {
    color: ghostwhite;
    font-size: 20px;
}