<!-- <div class="projectBox" [@scrollAnimation]="state">
  <div class="row">

    <div class="col-sm-6">
      <img src="../../assets/images/bike.jpg" class="animationBike">
    </div>
  </div>

</div> -->



<div class="about">
  <div id="aboutDiv">ABOUT MIKE</div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <img src="../../assets/images/catStretch.jpg" class="catStretch">
        <p>I'm a Full Stack Developer with a passion for learning new technologines and anything tech related. The apps
          that I've built utilize my skillset, which includes: Javascript, Node, React, Angular, BootStrap, jQuery, CSS,
          HTML, Ajax, MongoDB, SQL, Express, & JSON.</p>

      </div>
    </div>
  </div>
</div>