@media (max-width: 475px) {
    .picOfMe {
        width: 45%;
        height: auto;
        /* padding: 10px; */
    }
}

.canvas {
    /* background-color: red; */
    background-image: url('../../assets/images/patricksPoint.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    text-align: center;
    line-height: 30px;
    opacity: 85%;
    min-height: 100%;
    
    width: 100%;
}

.intro {
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: thin;
    padding-top: 200px;
    opacity: 65%;
}

.intro2 {
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: thin;
    /* padding-top: 200px; */
    opacity: 65%;
}

.btn-floating {
    background-color: black;
}

.aboutButton {
    /* background-color: #8f6457; */
    background-color: #7288a0;
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    /* opacity: 100%; */
    padding: 8px 30px;
}

.showWorkButton {
    color: #f7d4aa;
    font-weight: bold;
    text-decoration: none;
}

.showWorkButton:hover {
    color: hotpink;
}

.picOfMe {
    border: 5px solid white;
    border-radius: 100%;
    opacity: 95%;
    margin: 7px;
}

footer {
    margin-top: 200px;
    margin-bottom: 15px;
    position: relative;
}