.canvas {
    /* background-color: red; */
    background-image: url('../../assets/images/patricksPoint.jpg');
    background-size: cover;
    width: 100%;
    height: 822px;
    text-align: center;
    line-height: 30px;
}

#intro {
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: thin;
    padding-top: 200px;
    opacity: 65%;
}

.btn-floating {
    background-color: black;
}

.aboutButton {
    /* background-color: #8f6457; */
    background-color: #967062;
    color: ghostwhite;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    opacity: 45%;
}